.contact-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.contact-form-container .contact-content {
    display: flex;
    flex-direction:column;
    padding: 3rem;
    width: 25vw;
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/crumpled-black-paper-texture_1194-6941.jpg?w=826&t=st=1687889325~exp=1687889925~hmac=506cf3f78bdac181a03932fc07b311fc50f26e85efc11cb768b485bda1b21e6f");
    background-repeat: none;
    color: #fff;
}

.contact-form-container .contact-content ul {
    padding: 0;
    list-style-type: none;
}
