@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body, html {
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Homemade Apple', cursive;
    overflow-x: hidden;
}

#paper-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url("https://img.freepik.com/free-photo/vintage-crumpled-paper-textured-background_53876-103940.jpg?w=1380&t=st=1687886280~exp=1687886880~hmac=d66f356985c823c449dde7e597cca06b4ba92bcd7508f4c14da6855a507971e3");
    background-size: cover;
    mix-blend-mode: multiply;
    pointer-events: none;
}

#noise-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    -webkit-filter: brightness(80%);
    filter: brightness(50%);
    mix-blend-mode: multiply;
    pointer-events: none;
}